h1 {
    text-align:center;
    font-family:'Merriweather', serif;
    margin-left: 70px;
    margin-right: 70px;
    font-size:48pt;
}

h2 {
    color:#3a243b;
    font-family:'Comic Sans MS';
    margin-left: 70px;
    margin-right: 70px;
}

h3, li, ul {
    font-family:'Space Mono';
    font-size: 16pt;
    margin-left: 80px;
    margin-right:80px;
    color: #000;
}

h4 {
    font-family:Abel;
    
    color: #ddd
}

h5 {
    font-family:Abel;
    
    color: #ddd;
}

p {
    font-family:'Space Mono';
    font-size: 16pt;
}

body {
    background-color: #cad4d8;
    
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Space Mono';
    transition: 0.7s;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;
} 

.topnav a.active {
    background-color: #f25;
    color: white;
}

.topnav a sup{
    position: absolute;
    transform: translate(2px, -5px);
}

.hidden-text {
    color: #c8c8c8;
}

th {
        text-align: left;
    }

    td {
        padding-left: 150px;
        text-align: right;
        padding-top: 14px;
    }
           #name-list-1{
          display: inline;
          font-family: 'Rubik', sans-serif; 
          text-align: left;
          color:lightgray;
        
        }
				
        #name-list-3 {
          display: inline;
          font-family: 'Abel', sans-serif;
          text-align: right;
          color:lightgray;
        }
				
        img.emoji {
          height: 1em;
          width: 1em;
          margin: 0 .05em 0 .1em;
          vertical-align: -0.1em;
        }



.centerarea {
    margin-right:25%;
    float:right;
}

.topnav {
  display: flex;
}

.button {
  border-style: solid;
  text-align:center;
  margin: 0 2.5%
  flex: 50%;
}
